@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .datagrid-pager table {
        width: 30% !important;
        margin-left: 500px !important;
    }

    .pagination .pagination-num {
        height:auto;
    }
</style>
<div id="tb" style="padding:5px;height:auto">
    <div>
        表名/表描述： <input id="name" type="text" placeholder="请输入表名或者表描述" style="width:180px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="search">查询</a>
    </div>
    <div style="margin-bottom:5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="add">新增</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="edit">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" id="del">删除</a>

        <a href="#" class="easyui-linkbutton" iconCls="icon-more" plain="true" id="CreateScript">生成建表SQL脚本</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-more" plain="true" id="CreateEntity">生成实体</a>
    </div>
</div>
<table id="dg" class="easyui-datagrid" title="数据库表查询" style="height:auto"> </table>

<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            $('#dg').datagrid('resize', {               //根据自身情况更改
                width: $(window).width() - 300,    //根据自身情况更改
                height: $(window).height() - 150  //根据自身情况更改
            }).datagrid('resize', {
                width: $(window).width() - 300,      //根据自身情况更改
                height: $(window).height() - 150   //根据自身情况更改
            });
        });

    });

   


    $(function () {
        ///加载datagrid
        $("#dg").datagrid({
            url: '/SqlServerSelect/GetList',
            pagination: true,//分页控件
            pageList: [10, 20, 30, 40, 50],
            // fit: true,   //自适应大小
            idField: 'TableID', //标识列，一般设为id，可能会区分大小写，大家注意一下
            fitColumns: true, //设置为true将自动使列适应表格宽度以防止出现水平滚动,false则自动匹配大小
            striped: true, //奇偶行是否区分
            singleSelect: true,//单选模式
            sortName: "TableID", //初始化表格时依据的排序 字段 必须和数据库中的字段名称相同
            sortOrder: "asc", //正序
            nowrap: false,//允许换行
            emptyMsg: '<span>无记录</span>',
            rownumbers: false,
            columns: [[
                { field: 'TableID', title: 'ID', hidden: true },
                { field: 'TableName', title: '表名', width: fixWidth(0.2) }, //, width: fixWidth(0.2)
                { field: 'CreateDate', title: '创建时间', width: fixWidth(0.2), align: 'center', formatter: JsonDateFormate },
                { field: 'ModifyDate', title: '修改时间', width: fixWidth(0.2), align: 'center', formatter: JsonDateFormate },
                { field: 'Comment', title: '表描述', width: fixWidth(0.2) },
                { field: 'FieldCount', title: '表字段数量', width: fixWidth(0.2) }
            ]]
        });

        //查询
        $("#search").click(function () {
            $('#dg').datagrid('load', {
                name: $('#name').val()
            });
        });

        //新增
        $("#add").click(function () {
                strTitle = "新增";
                strUrl = '/SqlServerSelect/Edit?TableName=';
            //window.open(strUrl, strTitle, "dialogWith=800px;dialogheight=500px;help:no;status=no");
                showMessageDialog(strUrl, strTitle, "800px", "500px", true)
        });

        //编辑
        $("#edit").click(function () {
            var row = $('#dg').datagrid('getSelected');
            if (row!=null && row.TableName.length > 0)
            {
                strTitle = "修改";
                strUrl = '/SqlServerSelect/Edit?TableName=' + row.TableName;
                showMessageDialog(strUrl, strTitle,"800px","500px",true)
                //window.open(strUrl, strTitle, "dialogWith=800px;dialogheight=500px;help:no;status=no");
            }
            else
            {
                alert("请选择一条数据");
            }
        });

        //删除表
        $("#del").click(function () {
            var row = $('#dg').datagrid('getSelected');
            if (row == null && row.TableName.length == 0) {
                alert("请选择一条数据");
                return false;
            }
            IsDelMsg(("确认删除吗"),function a1(){
                $.ajax({
                    url: "/SqlServerSelect/Delete?tableName=" + row.TableName,
                    type: "get",
                    async: false,
                    success: function (data) {
                        ShowMsgSuccess(data.Message);
                        $('#dg').datagrid('reload');
                    }
                });
              });

            
        })

        //生成建表SQL脚本
        $("#CreateScript").click(function () {
            var row = $('#dg').datagrid('getSelected');
            if (row != null && row.TableName.length > 0) {
                strTitle = "生成SQL脚本";
                strUrl = '/SqlServerSelect/ShowContent?TableName=' + row.TableName+'&Code=CreateScript';
                showMessageDialog(strUrl, strTitle, "1200px", "700px")
            }
            else {
                alert("请选择一条数据");
            }
        });

        //生成实体
        $("#CreateEntity").click(function () {
            var row = $('#dg').datagrid('getSelected');
            if (row != null && row.TableName.length > 0) {
                strTitle = "生成实体";
                strUrl = '/SqlServerSelect/ShowContent?TableName=' + row.TableName + '&Code=CreateEntity';
                showMessageDialog(strUrl, strTitle, "1200px", "700px")
            }
            else {
                alert("请选择一条数据");
            }
        });

        
    });

    
</script>