<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.11.3.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easyui-1.4.5.min.js"></script>
    <script src="~/Scripts/locale/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/Common.js"></script>
    <script type="text/javascript">
        $(function () {
            setInterval(function () {
                //1、定义一个date对象d
                var d = new Date();
                //2、从d中获取月份
                var month = d.getMonth() + 1;
                // 3、从d中获取日期
                var day = d.getDate();
                //4、组装时间参数：
                var time = (d.getHours() < 10 ? '0' : '') + d.getHours() + ":" + (d.getMinutes() < 10 ? '0' : '') + d.getMinutes() + ":" + (d.getSeconds() < 10 ? '0' : '') + d.getSeconds();
                //5、最后形成完整的日期格式：
                var output = d.getFullYear() + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day + ' ' + time
                $("#nowdate").text(output);
            }, 1000)

        });
    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north'" style="height:30px;">
        <div title="About" data-options="iconCls:'icon-ok'" style="text-align:right;padding-right:50px;padding-top:5px;font-size:12px;color:black">
            当前时间：<span id="nowdate"></span>
        </div>
    </div>

    <div data-options="region:'center',title:'核心页面'" style="padding:5px;">
        @RenderBody()
    </div>
</body>
</html>